*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul>li {
    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
    color: #666666;
    padding: 0 20px;
}

a:hover{
    color: black;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid gray;
}


.menu {
    display: flex;
    font-size: 17px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.header {
    margin: 0 20px;
}

.img {
    width: 100%;
}

.img img {
    max-width: 100%;
}

.img_content{
    width: 100%;
}

.img_content img{
    max-width: 100%;
}

.img_content h1{
    text-align: center;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 40px 0;
}

.main_content{
    display: flex;
    margin: 0 150px;
}

.left_content{
    width: 70%;
}

.info_list{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgb(103, 103, 103);;
    font-weight: 500;
}

.info_list ul{
    display: flex;
    border-bottom: 1px;
    padding: 0 0 30px;
}

.info_list li{
    padding-right: 35px;
}

.info_list h2{
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: rgb(0, 0, 0);
    padding: 20px 0;  
}

.info_list p{
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: rgb(46, 46, 46);  
    padding: 15px 0;
}

.conven{
    display: flex;
}
.conven1{
    width: 50%;
}
.conven p{
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: rgb(46, 46, 46);  
    padding: 15px 0;
}

.collect1{
    display: flex;
}

.collect1_left {
    width: 50%;
}

.collect1_left img {
    width: 100%;
}

.collect1_right {
    width: 50%;
}

.collect1_right img {
    width: 100%;
}

.collect2_left {
    width: 45%;
}
.collect2_left img{
    width: 100%;
}

.collect2_right{
    width: 55%;
}

.collect2{
    display: flex;
}

.collect2_r_top{
    display: flex;
}

.collect2_r_top_left{
    width: 50%;
}

.collect2_r_top_left img{
    max-width: 100%;
}

.collect2_r_top_right{
    width: 50%;
}

.collect2_r_top_right img{
    max-width: 100%;
}

.collect2_r_bot {
    width: 100%;
}

.collect2_r_bot img {
    max-width: 100%;
}

.right_content{
    width: 30%;
    padding-left: 25px;
}

.title{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 65px;
    text-align: center;
    padding: 20px 0;
    color: #f65e39;
    font-size: 23px;
}

.time{
    background-color: #f7f7f7;
}

.time_top{

    height: 60px;
    width: 300px;
    margin-top: 25px;
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 3px;
}

.time_top h2{
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: rgb(46, 46, 46);  
    padding: 2px 0 0 15px;
}

.time_top p{
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: gray; 
    padding: 0 0 0 15px; 
}

.time button{
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: #2196f3;
    margin-top: 20px;
}

button {
    margin-left: 45px;

}
.submist{
    width: 135px;
    height: 45px;
    background-color: #f4511e;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
}
.than{
    display: flex;
}
.gach{
    border: 1px solid #e5e5e5;
    width: 40px;
}
.gach1{
    border-bottom: 1px solid #e5e5e5;
}
.map{
    margin-top: 60px;
    width: 100%;
}
.note_thing{
    height: 345px;
    width: 100%;
    background-color: #191919;
    display: flex;
}
.hang1{
    margin-top: 30px;
    margin-left: 70px;
    width: 280px;
}
.chu1_note_thing{
    color: #f1f1f1;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 20px;
}
.chu2_note_thing{
    color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gach3{
    /* border: 1px solid rgba(255,255,255,.3); */
    width: 30px;
    height: 3px;
    background-color: rgba(255,255,255,.3);
    margin-bottom: 20px;
    
}
.chu2_note_thing{
    font-size: 17px;
}
.fb{
    border: 1px solid #2e467e;
    background-color: #2e467e;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 2px;
    margin-right: 5px;
}

.fb_logo{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: white;
}
.fb:hover{
    background-color: #1f3871;
}
.insta{
    border: 1px solid #3b6994;
    background-color: #3b6994;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 2px;
    margin-right: 5px;
}
.insta_icon{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: white;
}
.insta:hover{
    background-color: #2f5476;
}
.mail{
    border: 1px solid #111111;
    background-color: #111111;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
}
.mail_icon{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: #ffffff;
}
.mail:hover{
    background-color: black;
}
.phone{
    border: 1px solid #51cb5a;
    background-color: #51cb5a;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.phone_icon{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: #ffffff;
}
.phone:hover{
    background-color: #20ab42;
}
.hang2{
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
}
.gach2{
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.hang3{
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
}
.hang4{
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
}.khung_fb{
    height: 120px;
    margin-top: 20px;
    background-image: url(https://scontent.xx.fbcdn.net/v/t39.30808-6/341683100_272499785100845_5807744502606964682_n.jpg?stp=dst-jpg_s350x350&_nc_cat=1&ccb=1-7&_nc_sid=649c01&_nc_ohc=B4f3g-qRt9EAX8VSSiW&_nc_ht=scontent.xx&edm=ADwHzz8EAAAA&oh=00_AfB2KBBUrjApDgZm9A1SyMP1syQ4tX7sMzeOGhVan6mcvw&oe=652AD755);
}
.phantren{
    display: flex;
    background: linear-gradient( to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100% );
}
.phantren_logo_fb{
    margin-top: 8px;
    margin-left: 8px;
}
.trang_fb{
    margin-left: 5px;
}
.text_fb{
    text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
}
.nhan_hien:hover{
    border-bottom: 1px solid white;
    height: 30px;
}
.phanduoi{
    margin-top: 25px;
    margin-left: 8px;
    width: 120px;
    background-color: white;
    height: 20px;
    display: flex;
}
.fa-facebook-official{
    color: #3a5897;
}
.footer{
    height: 50px;
    background-color: #141414;
    width: 100%;
    border: 1px solid #141414;
}
#myBtn{
    /* display: none;  */
  position :fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: 2px solid #333333; 
  /* outline: none;  */
  background-color: transparent ; 
  color: #333333;
  cursor: pointer;
  height: 40px;
  width: 40px; 
  border-radius: 10px; 
  font-size: 20px; 
}
#myBtn:hover{
    border: 2px solid orangered;
    background-color: orangered;
    color: white;
}
html{
    scroll-behavior: smooth;
}
/* .search:hover{
    background-color: red;
} */
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
p{
    font-family: sans-serif;
}
